In [1]:
import numpy as np
import pandas as pd
from sklearn import pipeline,preprocessing,metrics,model_selection,ensemble,impute
from sklearn_pandas import DataFrameMapper

In [2]:
data=pd.read_csv("C:\\Users\\Krishna P\\Downloads\\milage.txt")

In [3]:
data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino

In [4]:
mapper=DataFrameMapper([
                       (['cylinders','displacement','weight','acceleration','model year'],preprocessing.StandardScaler()),
                       (['horsepower'],impute.SimpleImputer()),
                       (['origin'],preprocessing.OneHotEncoder())
                       ])

In [5]:
pipeline_obj=pipeline.Pipeline([
   ("mapper",mapper),("model",ensemble.RandomForestRegressor()) 
])

In [6]:
data.drop('car name',axis=1,inplace=True)

In [7]:
data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin
0,18.0,8,307.0,130.0,3504,12.0,70,1
1,15.0,8,350.0,165.0,3693,11.5,70,1
2,18.0,8,318.0,150.0,3436,11.0,70,1
3,16.0,8,304.0,150.0,3433,12.0,70,1
4,17.0,8,302.0,140.0,3449,10.5,70,1

In [8]:
from sklearn.preprocessing import OneHotEncoder

In [9]:
ohe=OneHotEncoder()

In [11]:
x=ohe.fit_transform(data[['origin']])

In [12]:
x

<398x3 sparse matrix of type '<class 'numpy.float64'>'
	with 398 stored elements in Compressed Sparse Row format>

In [70]:
data.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model year', 'origin'],
      dtype='object')

In [71]:
X=['cylinders','displacement','horsepower','weight','acceleration','model year','origin']

In [72]:
y=['mpg']

In [74]:
pipeline_obj.fit(data[X],data[y])

C:\Users\Krishna P\Anaconda3\lib\site-packages\sklearn\pipeline.py:335: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params_last_step)

Pipeline(steps=[('mapper',
                 DataFrameMapper(features=[(['cylinders', 'displacement',
                                             'weight', 'acceleration',
                                             'model year'],
                                            StandardScaler()),
                                           (['horsepower'], SimpleImputer()),
                                           (['origin'], OneHotEncoder())])),
                ('model', RandomForestRegressor())])

In [76]:
pipeline_obj.predict(data[X])

array([17.251, 14.86 , 17.26 , 16.46 , 17.04 , 14.64 , 14.   , 14.14 ,
       13.55 , 14.6  , 15.07 , 14.63 , 15.05 , 14.603, 24.118, 21.48 ,
       19.09 , 20.867, 27.04 , 26.61 , 24.346, 24.18 , 24.705, 25.39 ,
       20.897, 10.49 , 10.81 , 11.82 ,  9.74 , 27.13 , 26.701, 25.029,
       26.127, 19.572, 17.03 , 17.35 , 18.61 , 18.202, 13.94 , 13.53 ,
       14.06 , 14.18 , 12.14 , 12.86 , 12.72 , 18.4  , 22.21 , 18.59 ,
       18.175, 23.821, 27.226, 29.68 , 29.415, 31.418, 33.58 , 27.295,
       26.88 , 24.674, 25.765, 24.217, 20.41 , 22.795, 13.385, 13.68 ,
       14.63 , 14.12 , 16.06 , 11.68 , 12.8  , 12.34 , 13.075, 20.035,
       14.9  , 13.895, 13.57 , 14.09 , 19.143, 22.695, 21.03 , 26.07 ,
       22.62 , 26.3  , 23.134, 27.56 , 26.91 , 13.205, 14.91 , 13.74 ,
       14.165, 14.81 , 12.01 , 13.08 , 13.33 , 14.055, 12.52 , 12.1  ,
       13.145, 18.727, 16.499, 18.332, 18.435, 22.222, 26.28 , 11.78 ,
       12.25 , 12.82 , 12.245, 18.43 , 21.8  , 21.565, 22.97 , 21.32 ,
       20.445, 21.428, 25.665, 14.47 , 14.93 , 28.98 , 25.15 , 21.876,
       19.674, 15.524, 23.091, 19.927, 11.8  , 20.302, 20.528, 19.285,
       16.098, 31.27 , 25.418, 31.548, 25.029, 16.332, 16.1  , 17.814,
       15.395, 13.36 , 13.935, 13.87 , 13.93 , 27.3  , 27.61 , 26.249,
       31.665, 31.805, 27.525, 25.295, 25.92 , 24.136, 25.357, 29.93 ,
       19.266, 17.592, 15.58 , 15.997, 15.215, 14.995, 15.37 , 14.45 ,
       17.196, 15.92 , 15.725, 17.708, 20.43 , 19.414, 15.381, 28.235,
       23.669, 19.73 , 22.959, 24.066, 25.495, 23.968, 19.29 , 28.65 ,
       19.155, 23.539, 22.352, 21.458, 24.136, 32.21 , 26.455, 25.064,
       24.938, 26.293, 26.965, 16.89 , 15.625, 16.556, 14.84 , 21.592,
       20.694, 23.148, 21.24 , 29.494, 25.758, 28.825, 32.32 , 19.54 ,
       18.578, 18.39 , 18.4  , 29.185, 32.015, 27.98 , 26.061, 20.195,
       13.891, 20.381, 19.252, 17.484, 15.66 , 13.74 , 13.965, 13.537,
       31.153, 29.52 , 34.455, 25.481, 33.083, 16.359, 17.047, 15.52 ,
       15.333, 17.989, 20.148, 18.978, 18.292, 15.8  , 15.525, 15.523,
       15.633, 29.793, 24.385, 25.983, 24.605, 31.001, 32.114, 30.792,
       29.817, 21.638, 22.362, 22.042, 40.751, 35.38 , 34.572, 37.172,
       35.467, 19.687, 18.936, 19.522, 19.073, 20.219, 20.71 , 25.074,
       20.342, 19.698, 20.681, 20.705, 18.823, 18.85 , 18.903, 18.067,
       18.78 , 17.119, 30.616, 26.364, 26.489, 29.752, 23.999, 23.389,
       23.433, 24.386, 20.872, 17.817, 21.547, 17.011, 31.937, 31.273,
       21.391, 20.999, 23.701, 20.214, 20.678, 17.339, 17.877, 17.244,
       17.938, 16.593, 15.969, 19.674, 17.624, 33.652, 34.015, 35.155,
       28.006, 25.863, 21.125, 28.082, 22.385, 34.714, 34.113, 33.629,
       36.773, 27.823, 27.529, 25.84 , 31.578, 38.967, 36.977, 33.168,
       36.993, 27.774, 25.718, 25.051, 20.053, 34.926, 29.899, 31.61 ,
       35.584, 32.904, 43.17 , 26.585, 41.501, 43.548, 40.951, 33.851,
       30.39 , 40.489, 39.111, 34.524, 33.416, 29.174, 28.884, 33.913,
       24.014, 32.667, 28.937, 27.217, 26.435, 24.464, 31.18 , 38.402,
       37.815, 36.238, 33.581, 36.938, 36.8  , 34.304, 34.809, 34.516,
       31.054, 33.908, 33.923, 34.253, 32.574, 31.471, 31.178, 28.021,
       29.611, 26.199, 25.645, 21.707, 24.516, 21.834, 20.93 , 28.365,
       27.689, 33.037, 30.371, 29.357, 27.149, 24.861, 23.954, 35.37 ,
       36.008, 32.824, 36.979, 35.429, 35.778, 35.568, 33.763, 35.741,
       33.663, 36.524, 24.892, 32.369, 27.055, 24.646, 30.493, 34.034,
       26.219, 26.903, 42.169, 32.311, 28.712, 29.884])

In [77]:
import joblib

In [78]:
joblib.dump(pipeline_obj,'RFModelforMPG.pkl')

['RFModelforMPG.pkl']

In [79]:
modelReload=joblib.load('RFModelforMPG.pkl')

In [83]:
temp={}
temp['krishna']=[1]
temp['vadi']=[2]
temp

{'krishna': [1], 'vadi': [2]}

In [84]:
df=pd.DataFrame(temp)

In [85]:
df

   krishna  vadi
0        1     2

In [92]:
df1=pd.DataFrame({'x':temp}).transpose()

In [93]:
df1

  krishna vadi
x     [1]  [2]

In [1]:
x=11

In [2]:
list(x)

TypeError: 'int' object is not iterable